.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: white;
    color: black;
    font-weight: 1000;
  }
  
  .hljs-comment,
  .hljs-quote,
  .hljs-variable {
    color:black;
    font-weight: 800;
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-built_in,
  .hljs-name,
  .hljs-tag {
    color: black;
    font-weight: 800;
  }
  
  .hljs-string,
  .hljs-title,
  .hljs-section,
  .hljs-attribute,
  .hljs-literal,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-addition {
    color: black;
    font-weight: 800;
  }
  
  .hljs-deletion,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-meta {
    color: black;
    font-weight: 800;
  }
  
  .hljs-doctag {
    color: black;
    font-weight: 800;
  }
  
  .hljs-attr {
    color: black;
    font-weight: 800;
  }
  
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link {
    color: black;
    font-weight: 800;
  }
  
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: 800;
  }
  